{% extends "bootstrap/base.html" %}
{% block scripts %}
<script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
<script>
  $(document).ready(function() {
      $("#deployment_list").click(function(){
	  // alert("deployment: " + $("#deployment_list").val());
	  $.get("/bosh/deployment/" + $("#deployment_list").val() + "/jobs", function(data, status){
	      $("#deployment_jobs").empty("li");
	      for (i=0; i < data.length; i++) {
		  $("#deployment_jobs").append("<option>"+data[i]+"</option>");
	      }
	  })
      })
  })
</script>
{{ super() }}
{% endblock %}
{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static',
				filename='favicon.ico') }}">
{% endblock %}
{% block navbar %}
<ul class="nav nav-pills">
    <li class="nav nav-pills">
      <a class="nav-link active" href="{{ url_for('index') }}">CFOP</a>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">BOSH Actions</a>
      <ul class="dropdown-menu">
	<li><a href="{{ url_for('bosh_bp.bosh_logs') }}">Logs</a></li>
	<li><a href="{{ url_for('bosh_bp.get_tasks') }}">Tasks</a></li>
	<li><a href="{{ url_for('bosh_bp.get_deployment_vitals_default') }}">Vitals</a></li>
	<li><a href="{{ url_for('bosh_bp.get_deployment_errands') }}">Errands</a></li>
      </ul>
    </li>
    <li class="nav nav-pills">
      <a class="nav-link active" href="{{ url_for('logout') }}">Logout</a>
    </li>
</ul>
{% endblock %}
