{% extends "base.html" %}
{% block title %}BOSH Vitals {{ deployment_name }}{% endblock %}
{% block content %}
<script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
<script>
  $(document).ready(function() {
      $("#deployment_list").click(function(){
	  // alert("deployment: " + $("#deployment_list").val());
	  $.get("/bosh/deployment/" + $("#deployment_list").val() + "/jobs", function(data, status){
	      $("#deployment_jobs").empty("li");
	      for (i=0; i < data.length; i++) {
		  $("#deployment_jobs").append("<option " + selected + ">"+data[i]+"</option>");
	      }
	  })
      })
  })
  </script>
<script>
  function clickedOn(name) {
      var dep = $("#deployment_list").val()
      // alert(dep + "->" + action + "(" + vmi + ")")
      var doit = confirm("really run errand " + name + "?")
      if (doit == true) {
	  $.get("/bosh/deployment/" + "{{ deployment_name }}" + "/errand/" + name + "/run")
      }
  }
</script>
<div class="col-md-8 offset-md-2">
  <h1>BOSH Errands {{ deployment_name }}</h1>
  <form class="form form-horizontal" method="GET" action="">
    <div class="form-row">
      <div class="form-group col-md-6">
	   <select class="form-control" id="deployment_list" name="deployment">
	     {% for d in deployments %}
	     {% if deployment_name == d %}
	     <option selected> {{ d }}</option>
	     {% else %}
	     <option>{{ d }}</option>
	     {% endif %}
	     {% endfor %}
	   </select>
      </div>
    </div>
    <div class="form-group col-md-6">
      <button type="submit" class="btn btn-primary">switch deployment</button>
    </div>
  </form>
  <table class="table table-striped table-bordered">
    <thead><tr><th>Name</th><th>Run</th></thead>
    {% for errand in deployment_errands %}
    <tr><td>{{errand}}</td>
      <td>
	<button type="button" class="btn-warning"
		onclick="clickedOn( '{{errand}}' );">Run</button>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
