{% extends "base.html" %}
{% block title %}BOSH Task History{% endblock %}
{% block content %}
<script>
  function cancelTask(tid, tstate) {
      // alert(dep + "->" + action + "(" + vmi + ")")
      if (tstate == "queued" || tstate == "processing") {
	  var doit = confirm("really cancel " + tid + "?")
	  if (doit == true) {
	      $.get("/bosh/tasks/" + tid + "/cancel")
	  }
      }
  }
</script>
<div class="col-md-8 offset-md-2">
  <h1>BOSH Task History</h1>
  <table class="table table-striped table-bordered">
    <thead><tr><th>ID</th><th>State</th><th>Desc</th><th>Timestamp</th>
	<th>Result</th><th>User</th><th>Deployment</th>
        <th colspan="4">Data</th></tr></thead>
    <tbody>
      {% for task in tasks %}
      <tr><td>{{ task.id }}</td><td>{{ task.state }}</td><td>{{ task.description }}</td>
	<td>{{ task.timestamp |datetime}}</td>
	<td>{{ task.result }}</td><td>{{ task.user }}</td>
	<td>{{ task.deployment }}</td>
	<td><a href="/bosh/tasks/{{ task.id }}/output?type=result" target="_blank">Result</a></td>
	<td><a href="/bosh/tasks/{{ task.id }}/output?type=debug" target="_blank">Debug</a></td>
	<td><a href="/bosh/tasks/{{ task.id }}/output?type=event" target="_blank">Event</a></td>
	<td><a href="javascript:cancelTask({{ task.id }}, '{{ task.state }}')">Cancel</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
