{% extends "base.html" %}
{% block title %}BOSH Vitals {{ deployment_name }}{% endblock %}
{% block content %}
<script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
<script>
  $(document).ready(function() {
      $("#deployment_list").click(function(){
	  // alert("deployment: " + $("#deployment_list").val());
	  $.get("/bosh/deployment/" + $("#deployment_list").val() + "/jobs", fun
ction(data, status){
	      $("#deployment_jobs").empty("li");
	      for (i=0; i < data.length; i++) {
		  $("#deployment_jobs").append("<option>"+data[i]+"</option>");
	      }
	  })
      })
  })
</script>
<div class="col-md-8 offset-md-2">
  <h1>BOSH vitals {{ deployment_name }}</h1>
  <form class="form form-horizontal" method="GET" action="">
    <div class="form-row">
      <div class="form-group col-md-6">
	   <select class="form-control" id="deployment_list" name="deployment">
	     {% for d in deployments %}
	     <option>{{ d }}</option>
	     {% endfor %}
	   </select>
      </div>
    </div>
  <table class="table table-striped table-bordered">
    <thead><tr><th>Name</th><th>Instance</th><th>IP</th><th colspan=3>CPU</th>
	<th colspan=3>Load</th><th>Mem% Used</th><th>Swap</th>
	<th>Resurrection Paused?</th></thead>
    <thead><tr><th></th><th></th><th><th>Sys</th><th>User</th><th>Wait</th>
    <th>1min</th><th>3min</th><th>5min</th></thead>
    {% for inst in deployment_vitals %}
    <tr><td>{{ inst.job_name }}</td><td>{{ inst.vm_cid }}</td>
      <td>{{ inst.ips[0] }}</td><td>{{ inst.vitals.cpu.sys }}</td>
      <td>{{ inst.vitals.cpu.user }}</td><td>{{ inst.vitals.cpu.wait	}}</td>
      <td>{{ inst.vitals.load[0] }}</td><td>{{ inst.vitals.load[1] }}</td><td>{{ inst.vitals.load[2] }}</td>
      <td>{{ inst.vitals.mem.percent }}%</td>
      <td>{{ inst.vitals.swap.percent }}%</td>
      <td>{{ inst.resurrection_paused }}</td>
    </tr>
    {% endfor %}
</div>
{% endblock %}
